{% extends 'base.html' %}
{% load static %}

{% block title %}Профиль пользователя{% endblock %}

{% block breadcrumbs_items %}
<li class="breadcrumb-item active">Профиль</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="mb-0">Профиль пользователя</h4>
                <a href="{% url 'users:profile_edit' %}" class="btn btn-outline-primary btn-sm">
                    <i class="bi bi-pencil"></i> Редактировать
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        {% if user.avatar %}
                            <img src="{{ user.avatar.url }}" alt="Аватар" class="img-fluid rounded-circle mb-3" style="max-width: 150px;">
                        {% else %}
                            <div class="bg-light rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3" style="width: 150px; height: 150px;">
                                <i class="bi bi-person" style="font-size: 3rem;"></i>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h5>Информация о пользователе</h5>
                        <table class="table table-borderless">
                            <tr>
                                <th>Email:</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Имя:</th>
                                <td>{{ user.first_name|default:"Не указано" }}</td>
                            </tr>
                            <tr>
                                <th>Фамилия:</th>
                                <td>{{ user.last_name|default:"Не указано" }}</td>
                            </tr>
                            <tr>
                                <th>Телефон:</th>
                                <td>{{ user.phone_number|default:"Не указан" }}</td>
                            </tr>
                            <tr>
                                <th>Страна:</th>
                                <td>{{ user.country|default:"Не указана" }}</td>
                            </tr>
                            <tr>
                                <th>Дата регистрации:</th>
                                <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}